@import "../../scss/common";
.code-wrapper {
    height: 100%;
    display: flex;
    overflow-y: scroll;
    background-color: map-get($map: $colors, $key: color33);
    border-radius: 4px;
    position: relative;
    >.list {
        background-color: map-get($map: $colors, $key: color3);
        width: 36px;
        @include font16(map-get($map: $colors, $key: color6));
        line-height: 20px;
        padding: 10px 14px;
        height: 286px;
        border-right: 1px solid map-get($map: $colors, $key: color11);
    }
    >.code-value {
        padding-top: 10px;
        >pre {
            @include font16(map-get($map: $colors, $key: color32));
            line-height: 20px;
        }
    }
}