<div class="code-wrapper" [perfectScrollbar]="config">
  <div class="list">
    1
    <br> 2
    <br> 3
    <br> 4
    <br> 4
    <br> 5
    <br> 6
    <br> 7
    <br> 8
    <br> 9
    <br> 10
    <br> 11
    <br> 12
  </div>
  <div class="code-value">
    <pre>
        &lt;!-- Convizit Analytics --&gt;
        &lt;script type="text/javascript"&gt;
                            window.convizit=window.convizit||[],convizit.load=function(t,o){{'{'}}
                            window.convizit.siteToken=t,window.convizit.config=o=o||{{'{}'}};
                            var n=new Date,i=n.getDate()+""+(n.getMonth()+1),e=o.forceSSL||
                            "https:"===document.location.protocol,c=document.createElement("script");
                            c.type="text/javascript",c.async=!0,c.src=(e?"https:":"http:")+
                            "//cdn.convizit.com/convizit.min.js?"+i;
                            var a=document.getElementsByTagName("script")[0];
                            a.parentNode.insertBefore(c,a){{'}'}};
                            convizit.load('{{trackingToken}}');
        &lt;/script&gt;
        &lt;!-- Convizit Analytics End --&gt;</pre>
  </div>
</div>