<div class="modal-content {{modalOptions?.theme}}">
    <cv-svg *ngIf="!modalOptions?.headerCloseIcon"
        type="Close"
        [svgStyle]="{ 'width': '16px', 'height': '16px' }"
        (click)="close()"
        ></cv-svg>
    <!-- TODO -->
    <div class="modal-header" *ngIf="title">
        <cv-svg *ngIf="modalOptions?.headerCloseIcon" [type]="modalOptions.headerCloseIcon" (click)="close()" [svgStyle]="{ 'width': '16px', 'height': '16px' }"></cv-svg>
        <div class="modal-title">{{title}}</div>
    </div>
    <div class="modal-body">
        <ng-template #modalContent></ng-template>
    </div>
    <div class="modal-footer" *ngIf="btns">
        <div class="modal-btn-wrapper {{btn.wrapperClass ? btn.wrapperClass.join(' ') : ''}}"
            *ngFor="let btn of btns">
            <cv-button class="{{btn.cssClass.join(' ')}}"
                [buttonType]="btn.type"
                [class.disabled]="btnDisable(btn.id)"
                (click)="!btnDisable(btn.id) && btnClicked(btn.id)">
                <cv-svg *ngIf="btn.icon" [type]="btn.icon"></cv-svg>
                {{btn.label}}
            </cv-button>
        </div>
    </div>
</div>
