<div class="cv-card" [ngClass]="type">
    <div class="title">{{title}}</div>
    <div class="value">
        <div class="main-text">
            {{mainText}}
        </div>
        <div class="sub-title">
            {{subTitle}}
        </div>
        <div class="label">
            {{labelText}}
        </div>
    </div>
</div>