@import "../../scss/common"; 

.cv-card {
    height: 165px;
    width: 158px;
    border-radius: 10px;
    background-color: map-get($map: $colors, $key: color19);
    margin-right: 82px;
    text-align: center;

    .title {
        background-color: map-get($map: $colors, $key: color20);
        border-radius: 10px 10px 0 0;
        @include font2(map-get($map: $colors, $key: color17));
        padding: 8px 0;
    }

    .value {
        position: relative;

        .main-text {
            line-height: 1.3;
            margin-top: 25px;
            @include font10(map-get($map: $colors, $key: color3));
        }

        .sub-title {
            @include font4(map-get($map: $colors, $key: color3));
        }

        .label {
            text-align: center;
            position: absolute;
            @include font4(map-get($map: $colors, $key: color3));
            line-height: 25px;
            height: 25px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            left: 148px;
            top: 18px;
            border-radius: 2px;
            padding: 1px 5px;

            &:before {
                content: " ";
                right: 100%;
                top: 50%;
                border: solid transparent;
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                margin-top: -5px;
            }

            &:after {
                content: " ";
                right: 100%;
                top: 50%;
                border: solid transparent;
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: transparent;
                border-width: 5px;
                margin-top: -5px;
            }
        }
    }

    &.success {
        .value {
            .label {
                background-color: map-get($map: $colors, $key: color22);
    
                &:after {
                    border-right-color: map-get($map: $colors, $key: color22);
                }
            }
        }
    }

    &.error {
        .value {
            .label {
                background-color: map-get($map: $colors, $key: color14);
    
                &:after {
                    border-right-color: map-get($map: $colors, $key: color14);
                }
            }
        }
    }
}
