@import '../../../scss/common';

:host {
    .empty-pinned-anomalies, .empty-all-anomalies {
        margin-top: 70px;
        @include font6(map-get($map: $colors, $key: color23));
        text-align: center;
    }
}