<ng-container *ngIf="!newsService.loading; else loading">
    <cv-news-anomaly *ngFor="let anomaly of anomalies"
    [changes]="anomaly.timesHigher"
    [lastCompare]="anomaly.bucketSpan"
    [timestamp]="anomaly.timestamp"
    [anomalyType]="anomaly.type"
    [name]="anomaly.element.name"
    [search]="newsService.search">
  </cv-news-anomaly>
  <div class="empty-pinned-anomalies" *ngIf="anomalies && !anomalies.length && filterType === 'pinned'">
    <p>
      You haven’t pinned any anomalies yet
    </p>
    <cv-svg type="AnomaliesPinnedEmpty"></cv-svg>
  </div>
  <div class="empty-all-anomalies" *ngIf="anomalies && !anomalies.length && filterType === 'all'">
    <p>
        There are no anomalies to show
    </p>
    <cv-svg type="AnomaliesEmpty"></cv-svg>
  </div>
</ng-container>
<ng-template #loading>
    <cv-news-anomaly *ngFor="let i of [1,2,3]" loading=true></cv-news-anomaly>
</ng-template>