<div class="pricing-content">
  <div class="title">
    Upgrade your acount
  </div>
  <div class="description">
    You can continue using Convizit by upgrading your plan
  </div>
  <div class="payment-period">
    <div [ngClass]="{'active': !isMonthly}" (click)="togglePeriod(false)" class="annual-payment-option">
      <div class="save-label">
        <div>
          Save 15%
        </div>
        <div>
          <!-- <cv-svg type=""></cv-svg> -->
          <svg width="9px" height="6px" viewBox="0 0 9 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Payment" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="bevel">
              <g id="Pricing-5" transform="translate(-642.000000, -227.000000)" stroke="#0063FF">
                <path d="M642,228 C645.120592,229.980341 646.680889,231.613455 646.680889,232.899343 C647.432341,231.133404 648.873409,229.50029 651.004092,228"
                  id="Save-arrow"></path>
              </g>
            </g>
          </svg>
        </div>
      </div>
      Pay Annually
    </div>
    <div [ngClass]="{'active': isMonthly}" (click)="togglePeriod(true)" class="monthly-payment-option">
      Pay Monthly
    </div>
  </div>
  <div class="pricing-list">
    <div *ngFor="let plan of plans" class="pricing-option" [ngClass]="{'recomend': plan.isRecommended}">
      <div class="header">
        Recommended for you
      </div>
      <div class="title">
        {{plan.name}}
      </div>
      <div *ngIf="plan.price" class="price-value">
        <div class="price-mark">$</div>
        <div>{{plan.price | periodPrice: isMonthly}}</div>
        <div *ngIf="isMonthly" class="price-period">/ mo</div>
        <div *ngIf="!isMonthly" class="price-period">/ y</div>
      </div>
      <div class="price-description">
        {{plan.description}}
      </div>
      <div class="price-details">
        <div class="price-details-item">
          <span class="bold">{{plan.maxProjectCount}}</span> Project
        </div>
        <div class="price-details-item">
          <span class="bold">{{plan.maxSessionCount | number }}</span> Monthly Sessions
        </div>
        <div class="price-details-item">
          <span class="bold">{{plan.maxMemberCount}}</span> Team Members
        </div>
      </div>
      <div [ngStyle]="{'border': !plan.isAvailable ? '1px solid #CCD3DF' : ''}" *ngIf="!plan.isSelected" class="price-action">
        <a [ngStyle]="{'color': !plan.isAvailable ? '#98A7BE' : '', 'pointer-events': !plan.isAvailable ? 'none' : ''}" (click)="activatePlan(plan.id)">
          Choose {{plan.name}}
        </a>
      </div>
      <div *ngIf="plan.isSelected" class="price-action">
        <a>Current Plan</a>
      </div>
    </div>
  </div>
</div>