@import "../../scss/common";
.pricing-content {
    padding-top: 52px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    padding-bottom: 35px;
    >.title {
        @include font13(map-get($map: $colors, $key: color4));
        line-height: 38px;
        text-align: center;
        margin-bottom: 14px;
    }
    >.description {
        @include font1(map-get($map: $colors, $key: color4));
        line-height: 19px;
        text-align: center;
        margin-bottom: 45px;
    }
    >.payment-period {
        width: 288px;
        height: 34px;
        border-radius: 4px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        >.annual-payment-option,
        >.monthly-payment-option {
            width: 144px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include font2(map-get($map: $colors, $key:color7));
            line-height: 19px;
            background-color: map-get($map: $colors, $key:color24);
            border: 1px solid map-get($map: $colors, $key:color8);
            cursor: pointer;
            &:hover {
                color: map-get($map: $colors, $key:color3);
                background-color: map-get($map: $colors, $key:color6);
            }
            &.active {
                color: map-get($map: $colors, $key:color3);
                background-color: map-get($map: $colors, $key:color1);
                border: none;
                &:hover {
                    color: map-get($map: $colors, $key:color3);
                    background-color: map-get($map: $colors, $key:color1);
                    border: none;
                }
            }
        }
        >.annual-payment-option {
            position: relative;
            border-radius: 4px 0 0 4px;
            >.save-label {
                @include font1(map-get($map: $colors, $key:color1));
                position: absolute;
                font-style: italic;
                line-height: 19px;
                left: 0;
                bottom: 100%;
                width: 100%;
                >div {
                    text-align: center;
                    &:first-child {
                        margin-bottom: -8px;
                    }
                }
            }
        }
        >.monthly-payment-option {
            position: relative;
            border-radius: 0 4px 4px 0;
        }
    }
    >.pricing-list {
        display: flex;
        flex-direction: row;
        >.pricing-option {
            height: 388px;
            width: 252px;
            border: 1px solid map-get($map: $colors, $key:color8);
            border-radius: 4px;
            background-color: map-get($map: $colors, $key:color3);
            margin-right: 20px;
            padding-top: 27px;
            padding-left: 33px;
            padding-right: 33px;
            padding-bottom: 33px;
            cursor: pointer;
            position: relative;
            margin-top: 31px;
            &:last-child {
                margin-right: 0px;
            }
            &:hover {
                border: 1px solid map-get($map: $colors, $key:color1);
                box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.3);
                >.title {
                    color: map-get($map: $colors, $key:color1);
                }
                >.price-action {
                    background-color: map-get($map: $colors, $key:color1);
                    border: 1px solid map-get($map: $colors, $key:color1);
                    >a {
                        color: map-get($map: $colors, $key:color3) !important;
                    }
                }
                >.price-value {
                    color: map-get($map: $colors, $key:color1);
                    >.price-mark,
                    >.price-period {
                        color: map-get($map: $colors, $key:color1);
                    }
                }
            }
            &.recomend {
                border: 1px solid map-get($map: $colors, $key:color1);
                height: 421px;
                margin-top: 0;
                >.header {
                    @include font11(map-get($map: $colors, $key:color3));
                    display: unset;
                    height: 40px;
                    border: 1px solid map-get($map: $colors, $key:color1);
                    background-color: map-get($map: $colors, $key:color1);
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 18px;
                }
                >.title {
                    margin-top: 31px;
                    color: map-get($map: $colors, $key:color1);
                }
                >.price-value {
                    color: map-get($map: $colors, $key:color1);
                    >.price-mark,
                    >.price-period {
                        color: map-get($map: $colors, $key:color1);
                    }
                }
            }
            >.header {
                display: none;
            }
            >.title {
                @include font4(map-get($map: $colors, $key:color4));
                line-height: 26px;
                text-align: center;
                margin-bottom: 15px;
            }
            >.price-value {
                @include font14(map-get($map: $colors, $key:color4));
                height: 48px;
                line-height: 26px;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-bottom: 26px;
                >.price-mark {
                    @include font2(map-get($map: $colors, $key:color4));
                    line-height: 26px;
                    height: 100%;
                }
                >.price-period {
                    @include font2(map-get($map: $colors, $key:color4));
                    line-height: 26px;
                    height: 100%;
                    display: flex;
                    align-items: flex-end;
                }
            }
            >.price-description {
                @include font15(map-get($map: $colors, $key:color4));
                font-style: italic;
                line-height: 20px;
                text-align: center;
                margin-bottom: 25px;
            }
            >.price-details {
                @include font1(map-get($map: $colors, $key:color4));
                line-height: 26px;
                margin-bottom: 32px;
                .bold {
                    font-weight: bold;
                }
            }
            >.price-action {
                height: 36px;
                width: 184px;
                border: 1px solid map-get($map: $colors, $key:color1);
                border-radius: 23px;
                >a {
                    @include font2(map-get($map: $colors, $key:color1));
                    line-height: 26px;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}