<div class="cv-input-error">
  <cv-input theme='common'
    [ngClass]="showErrors ? errorClasses : {}"
    [showErrors]="showErrors"
    [disabled]="disabled"
    [placeholder]="placeholder"
    [debounce]="debounce"
    [inputType]="inputType"
    [type]="type"
    [(ngModel)]="inputValue"
    (ngModelChange)="propagateChange && propagateChange($event)">
  </cv-input>
</div>