<ng-container [ngSwitch]="typeOfView">
  <ng-container *ngSwitchCase=1>
    <cv-mini-statistic *ngFor="let i of [1,2,3]" loading=true></cv-mini-statistic>
  </ng-container>

  <span class="empty" *ngSwitchCase=2>
    You haven’t set any conversions yet
  </span>

  <span class="empty" *ngSwitchCase=3>
    There are no conversion changes
  </span>

  <ng-container *ngSwitchCase=4>
    <cv-conversion-mini-statistic *ngFor="let conv of conversions"
      type="top-conversion"
      [title]="conv.name"
      [subEvents]="conv.subEventCount || 1"
      [subTitle]="conv.pageTitle"
      result="{{conv.change}}"
      [eventId]="conv.id">
    </cv-conversion-mini-statistic>
  </ng-container>
</ng-container>