@import "../../scss/common";
.title {
    margin-bottom: 18px;
    @include font4(map-get($map: $colors, $key: color4));
    line-height: 26px;
    opacity: 0.9;
}

.content {
    opacity: 0.9;
    line-height: 22px;
    margin-bottom: 25px;
    width: 298px;
    @include font3(map-get($map: $colors, $key: color7));
}

form {
    >.form-group {
        position: relative;
        >.forgot-pwd {
            position: absolute;
            right: 0;
            bottom: calc(100% + 5px);
            cursor: pointer;
            line-height: 19px;
            @include font1(map-get($map: $colors, $key:color10));
            bottom: 46px;
        }
    }
    >.error-box {
        position: relative;
        top: -5px;
        margin-bottom: -24px;
        @include font9(map-get($map: $colors, $key: color14));
        >cv-svg {
            position: relative;
            top: 2px;
            margin-right: 5px;
        }
    }
}