<div *ngIf="!isSent" class="title">
  Forgot your password?
</div>
<div *ngIf="isSent" class="title">
  <cv-svg type="Check"></cv-svg>
  Link sent
</div>
<div *ngIf="!isSent" class="content">
  Enter the account’s email address and we’ll send you a reset link.
</div>
<div style="margin-bottom:47px" *ngIf="isSent" class="content">
  We’ve sent a password reset link to:
</div>
<form [formGroup]="resetForm">
  <div class="form-group">
    <a *ngIf="isSent" class="forgot-pwd" (click)="clearForm()">Change email address</a>
    <cv-input formControlName="email" [disabled]="isSent" [showErrors]="errorFields.includes('email')" placeholder="Enter email"></cv-input>
  </div>
  <div class="error-box" [ngStyle]="{ 'opacity' : error ? 1 : 0 }">
    <cv-svg type="ErrClose"></cv-svg>
    <span>{{error}}</span>
  </div>
  <div class="form-group">
    <cv-button buttonType="stretch" (click)="submit()">
      Send Password Reset Link
    </cv-button>
  </div>
</form>