<div class="btn-group cv-search-list"
  #dropdown="bs-dropdown"
  dropdown
  [autoClose]="false"
  (isOpenChange)="onOpenChange($event)">
  <cv-input [ngModel]="inputValue"
    (ngModelChange)="updInputValue($event)"
    [theme]="theme"
    (focus)="onFocus()"
    (blur)="onBlur()"></cv-input>
  <cv-svg id="button-list"
    class="btn btn-tz"
    [class.opened]="isOpen"
    aria-controls="dropdown-list"
    type="ArrowDown"
    [svgStyle]="{ 'width': '9px', 'height': '9px' }"
    (click)="toggleShowList()">
  </cv-svg>
  <ul id="dropdown-list" *dropdownMenu class="dropdown-menu list" role="menu" aria-labelledby="button-list">
    <li class="menuitem" role="menuitem" *ngFor="let item of filteredList" (click)="selectItem(item)">
      {{ item }}
    </li>
  </ul>
</div>