<div class="cv-news-page">
  <div class="short-statistics">
    <cv-news-statistic-card [conversionRate]="newsService.conversionRate" [total]="newsService.total" [change]="newsService.change">
    </cv-news-statistic-card>
    <div class="top-conversion">
      <p class="title">
        Top Conversion Changes
      </p>
      <hr>
      <div class="conversion-items">
        <cv-news-conversion></cv-news-conversion>
      </div>
    </div>
    <div class="top-referrer">
      <p class="title">
        Top Referrer Changes
      </p>
      <hr>
      <div class="referrer-items">
        <cv-news-referrer></cv-news-referrer>
      </div>
    </div>
  </div>
  <div class="main-content">

    <ng-template #anomaliesempty>
      <div class="empty-anomalies">
        <cv-svg type="EmptyAnomalies"></cv-svg>
        <div class="description">
          <span>Start setting events as conversions</span>
          <cv-button theme="anomalies">
            <span>Set Conversions</span>
          </cv-button>
        </div>
      </div>
    </ng-template>

    <div class="news-list" *ngIf="!emptyAnomalies; else anomaliesempty">
      <div class="control-bar">
        <div class="navbar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="all" routerLinkActive="active">
                <span>All anomalies</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="pinned" routerLinkActive="active">
                <span>Pinned</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="search-container">
          <cv-input-search (update)="search($event)" placeholder="Search"></cv-input-search>
        </div>
        <div class="event-type-filter">
          <div class="btn-group" dropdown>
            <button id="button-events-type" dropdownToggle type="button" class="btn button-events-type" aria-controls="dropdown-type-e">
              <span>{{selected}}</span>
              <span class="dd-icon">
                <cv-svg type="ArrowDown" [svgStyle]="{ 'width': '9px', 'height': '9px' }"></cv-svg>
              </span>
            </button>
            <ul id="dropdown-type-e" *dropdownMenu class="dropdown-menu type-e-list" role="menu" aria-labelledby="button-type-e">
              <li class="menuitem" role="menuitem"
                *ngFor="let type of types"
                (click)="selectType(type.id)">
                {{ type.label }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>