@import "../../scss/common";

.cv-news-page {
    .short-statistics {
        height: 277px;
        padding: 40px 30px 55px;
        display: flex;
        flex-direction: row;

        hr {
            margin: 5px 0;
        }

        .title {
            @include font2(map-get($map: $colors, $key: color4));

            margin-bottom: 5px;
        }

        .top-conversion {
            width: 550px;
            margin-right: 80px;
        }

        .top-referrer {
            width: 510px;
        }
    }

    .main-content {
        .empty-anomalies {
            display: flex;
            flex-direction: row;
            margin: auto;
            width: fit-content;

            @include font4(map-get($map: $colors, $key: color23));

            .description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 60px;
            }
        }

        .news-list {
            width: 900px;
            padding: 26px;

            .control-bar {
                display: flex;
                align-items: center;
                margin-bottom: 18px;

                .navbar {
                    flex-grow: 1;
                    padding-left: 0px;

                    a.nav-link {
                        @include font6(map-get($map: $colors, $key: color7));

                        padding: 0 1px;
                        margin-right: 16px;

                        &:hover {
                            text-decoration: none;

                            &:not(.active) {
                                color: map-get($map: $colors, $key: color1);
                            }
                        }

                        &.active {
                            color: map-get($map: $colors, $key: color4);
                            border-bottom: 2px solid map-get($map: $colors, $key: color4);
                        }
                    }
                }

                .search-container {
                    margin-right: 38px;
                }

                .event-type-filter {
                    width: 150px;
                    text-align: right;
                    
                    .button-events-type {
                        outline: none !important;
                        background-color: transparent;
                        background-color: transparent;
                        box-shadow: none;

                        @include font6(map-get($map: $colors, $key: color4));

                        .dd-icon {
                            margin-left: 7px;

                            ::ng-deep {
                                svg {
                                    path {
                                        fill: get-color(color4);
                                    }
                                }
                            }
                        }

                        &:hover {
                            color: get-color(color1);

                            .dd-icon {
                                ::ng-deep {
                                    svg {
                                        path {
                                            fill: get-color(color1);
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .show {
                        .button-events-type {
                            color: get-color(color1);

                            .dd-icon {
                                ::ng-deep {
                                    svg {
                                        path {
                                            fill: get-color(color1);
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .type-e-list {
                        padding: 10px 23px;
                        width: auto;
                        min-width: 1px;

                        .menuitem {
                            white-space: nowrap;
                            margin-bottom: 15px;
                            cursor: pointer;

                            @include font4(map-get($map: $colors, $key: color4));

                            &:hover {
                                color: map-get($map: $colors, $key: color1);
                            }
                        }
                    }
                }
            }
        }
    }
}
