@import "../../scss/common";

.cv-referrer-statistic {
    .icon-content {
        margin: auto;
        cv-image {
            top: -2px;
            position: relative;
        }
    }

    .sub-title-content {
        @include font2(map-get($map: $colors, $key: color21));

        &:hover {
            text-decoration: none;
            color: map-get($map: $colors, $key: color1);
        }
    }

    .error {
        color: map-get($map: $colors, $key: color14);
    }

    .success {
        color: map-get($map: $colors, $key: color22);
    }
}
