<div class="cv-referrer-statistic">
  <cv-mini-statistic [type]="type" [items]="items" [title]="title">
    <!-- Image content -->
    <div class="icon-content">
      <cv-image [type]="imgType" theme="icon16"></cv-image>
    </div>
    <!-- Content for subtitle -->
    <a href="{{link}}" class="sub-title-content" cvEllipsis>{{link}}</a>
    <!-- Content for action -->
    <span class="action" *ngIf="+result; else new" [class.success]="result > 0" [class.error]="result < 0">{{ result | signpercent}}</span>
    <ng-template #new>
      <span class="action success">New</span>
    </ng-template>
  </cv-mini-statistic>
  <!-- attach popup -->
</div>