@import "../../scss/common";
:host {
    display: block;
}

.cv-input {
    width: 100%;
    @include font4(map-get($map: $colors, $key: color4));
    &::placeholder {
        color: map-get($map: $colors, $key: color7);
    }
    &.common {
        border: 1px solid map-get($map: $colors, $key: color8);
        border-radius: 4px;
        height: 46px;
        padding: 11px 16px 9px;
        line-height: 22px;
    }
    &:focus {
        outline: none;
    }
    &.anomaly-news {
        border: none;
        @include font1(map-get($map: $colors, $key: color4));
    }
    &.boarding {
        width: 376px;
        border: 1px solid map-get($map: $colors, $key: color8);
        border-radius: 4px;
        height: 46px;
        padding: 11px 16px 9px;
        line-height: 22px;
        margin-right: 30px;
    }
    &.project-settings {
        border: 1px solid map-get($map: $colors, $key: color8);
        border-radius: 4px;
        height: 46px;
        padding: 11px 16px 9px;
        line-height: 22px;
        &:focus {
            border-color: get-color(color1);
        }
        &.disabled {
            text-align: center;
            @include font1(get-color(color7));
        }
    }

    &.active-focus {
        &:focus {
            border-color: get-color(color1);
        }
    }
}

:host {
    .cv-input.show-error {
        border: 1px solid map-get($map: $colors, $key: color14);
    }
    .cv-input.disabled {
        opacity: initial;
        background-color: #FAFAFA;
        pointer-events: none;
    }
}