body {
    height: 100vh;
}

.box-shadow-1 {
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.3);
}

.left-corner {
    &:before {
        content: " ";
        right: 100%;
        top: 50%;
        border: solid transparent;
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(0, 0, 0, 0);
        border-right-color: #000000;
        border-width: 7px;
    }

    &:after {
        content: " ";
        right: 100%;
        top: 50%;
        border: solid transparent;
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #ffffff;
        border-width: 7px;
    }
}

.ellipsis-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}