.modal {
    display: flex !important;
    background: #0c0d5166;
    justify-content: center;
    align-items: center;
    .modal-dialog {
        background-color: get-color(color3);
        padding: 30px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0.3rem;
        pointer-events: all;
        
        .modal-content {
            border: none;
            > cv-svg {
                cursor: pointer;
                text-align: right;
                
                svg {
                    path {
                        fill: get-color(color7);
                    }
                }

                &:hover {
                    svg {
                        path {
                            fill: get-color(color1);
                        }
                    }
                } 
            }
        }
    } //theme
    &.project-settings {
        .modal-dialog {
            min-width: 574px;
        }
    }
    &.install-code {
        .modal-dialog {
            min-width: 714px;
        }
    }
}