@import "~@ng-select/ng-select/themes/default.theme.css";
.ng-select .ng-select-container {
    min-height: 46px;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container {
    padding-left: 16px;
    padding-right: 16px;
}

.ng-select .ng-select-container .ng-value-container {
    @include font4(map-get($map: $colors, $key: color4));
    line-height: 26px;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: rgb(152, 167, 190);
}

.ng-select .ng-clear-wrapper {
    display: none;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    color: #0B2E63;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;
    padding-left: 17px !important;
    background-color: #ffffff !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    color: #0063FF;
    background-color: none;
}

.ng-dropdown-panel-items::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: white;
}

.ng-dropdown-panel-items::-webkit-scrollbar {
    width: 8px;
    background-color: white;
}

.ng-dropdown-panel-items::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #CCD3DF;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    display: none;
}