.conversion-info {
    opacity: 1 !important;

    .tooltip-inner {
        height: 195px;
        width: 558px;
        max-width: none;
        padding: 30px;
        background-color: white;
        border-radius: 4px;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.4);
        text-align: unset;
    }

    .tooltip-arrow.arrow::before {
        transform: translate(8px, 7px) rotate(45deg);
        border: 7px solid rgba(0, 0, 0, .15);
        border-top-left-radius: 4px;
        border-right-color: transparent;
        border-bottom-color: transparent;
        margin-left: -8px;
    }

    .tooltip-arrow.arrow::after {
        bottom: 0;
        position: absolute;
        border-color: transparent;
        border-style: solid;
        border-width: 0 0.4rem 0.4rem;
        transform: translate(8px, 8px) rotate(45deg);
        border: 7px solid white;
        border-top-left-radius: 4px;
        border-right-color: transparent;
        border-bottom-color: transparent;
        margin-left: -8px;
    }

    &.tooltip-bottom {
        margin-top: -5px;
        padding: 0.6rem 0px;

        .tooltip-arrow.arrow {
            top: 4px;

            &:after {
                content: "";
            }
        }
    }

    &.tooltip-top {
        .tooltip-arrow.arrow::before {
            top: -5px;
            transform: rotate(225deg);
            margin-left: 0;
        }
    
        .tooltip-arrow.arrow::after {
            content: "";
            bottom: 0px;
            transform: rotate(225deg);
            margin-left: 0;
        }
    }
}