<div class="cv-tooltip-container"
  [ngClass]="theme"
  [tooltip]="popTemplate"
  [containerClass]="containerClass"
  triggers=""
  [isOpen]="isOpen"
  [placement]="placement">
  <ng-content>

  </ng-content>
</div>
