@import "../../scss/common";
.source-favicon {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: map-get($map: $colors, $key: color3);
    >img{
        height: 16px;
        width: 16px;
    }
}