@import "../../scss/common";

.cv-select {
    cv-svg {
        position: absolute;
        right: 0;
        top: 3px;
        
        ::ng-deep {
            svg {
                path {
                    fill: get-color(color4);
                }
            }
        }

        &.opened {
            ::ng-deep {
                svg {
                    path {
                        fill: get-color(color7);
                    }
                }
            }
        }
    }

    .list {
        width: 100%;
        padding: 20px 0px 9px;
        border: none;
        border-right: 9px solid get-color(color3);
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
        max-height: 195px;
        overflow-y: auto;

        .menuitem {
            padding-left: 23px;
            cursor: pointer;
            @include font4(get-color(color4));

            &:hover {
                color: get-color(color1);
            }

            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
}