<div class="btn-group cv-select"
  #dropdown="bs-dropdown"
  dropdown
  (isOpenChange)="onOpenChange($event)">
  <cv-input [ngModel]="value" readonly="true" [theme]="theme" dropdownToggle></cv-input>
  <cv-svg id="button-list"
    class="btn btn-select"
    [class.opened]="isOpen"
    aria-controls="dropdown-list"
    type="ArrowDown"
    [svgStyle]="{ 'width': '9px', 'height': '9px' }">
  </cv-svg>
  <ul id="dropdown-list" *dropdownMenu class="dropdown-menu list" role="menu" aria-labelledby="button-list">
    <li class="menuitem" role="menuitem" *ngFor="let item of list" (click)="selectItem(item)">
      {{ item }}
    </li>
  </ul>
</div>