@import "../../scss/common";
.cv-describer-with-action {
    display: grid;
    cursor: pointer;
    .title {
        @include font4(map-get($map: $colors, $key: color4));
    }
    .sub-title {
        grid-column: 1;
        @include font11(map-get($map: $colors, $key: color7));
        line-height: 18px;
    }
    .action-container {
        opacity: 0;
        grid-column: 2;
        grid-row: 1 / span 2;
        align-content: center;
        padding-top: 3px;
        padding-left: 18px;
        padding-right: 15px;
        cursor: pointer;
        text-align: end;
        ::ng-deep svg {
            path {
                fill: map-get($map: $colors, $key: color7);
            }
            &:hover {
                path {
                    fill: map-get($map: $colors, $key: color1);
                }
            }
        }
    }
    &:hover {
        .action-container {
            opacity: 1;
        }
        .title {
            color: map-get($map: $colors, $key: color1);
        }
    }
}