<div class="cv-describer-with-action {{theme}}">
    <div (click)="handleTitleClick()" class="title">{{title}}</div>
    <div (click)="handleSubTitleClick()" class="sub-title">{{subTitle}}</div>
    <div class="action-container" (click)="handleActionClick()" *ngIf="actionType">
      <cv-svg [type]="actionType" [svgStyle]="actionStyle"></cv-svg>
    </div>
  </div>