@import "../../scss/common";
.form-container {
    >form {
        >.form-group {
            position: relative;
            >label {
                @include font2(map-get($map: $colors, $key:color7));
                line-height: 19px;
                margin-bottom: 5px;
            }
            >.change-email {
                position: absolute;
                right: 0;
                bottom: calc(100% + 5px);
                cursor: pointer;
                line-height: 19px;
                @include font1(map-get($map: $colors, $key:color10));
                bottom: 46px;
                &:hover {
                    text-decoration: underline;
                }
            }
            .cv-button {
                font-weight: bold !important;
            }
        }
        .error-box {
            position: relative;
            top: -5px;
            margin-bottom: -21px;
            @include font9(map-get($map: $colors, $key: color14));
            >cv-svg {
                position: relative;
                top: 2px;
                margin-right: 5px;
            }
        }
    }
    >.divider {
        margin-top: 24px;
        width: 100%;
        height: 13px;
        border-bottom: 1px solid map-get($map: $colors, $key: color11);
        text-align: center;
        >span {
            position: relative;
            top: 2px;
            padding: 0 15px;
            background-color: map-get($map: $colors, $key: color3);
            @include font2(map-get($map: $colors, $key: color7));
            line-height: 19px;
        }
    }
    >.social-btns {
        display: flex;
        flex-direction: row;
        >cv-button {
            flex-grow: 1;
            width: 168px;
            &:first-child {
                margin-right: 19px;
                span {
                    @include font4(map-get($map: $colors, $key: color12));
                    line-height: 20px;
                }
            }
            &:last-child {
                span {
                    margin-right: 5px;
                    @include font4(map-get($map: $colors, $key: color13));
                    line-height: 20px;
                }
            }
            span {
                padding: 0 15px;
                border-left: 1px solid;
                margin: 14px;
                line-height: 26px;
            }
            cv-svg {
                position: relative;
                top: 2px;
                margin-left: 4px;
            }
        }
    }
}