<div class="form-container">
  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="">Email Address</label>
      <cv-input formControlName="username" [showErrors]="errorFields.includes('username')" placeholder="Enter email address">
      </cv-input>
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <a tabindex="10" class="change-email" routerLink="/auth/reset-password">Forgot password?</a>
      <cv-input formControlName="password" [showErrors]="errorFields.includes('password')" type="password" placeholder="Enter password"></cv-input>
    </div>
    <div class="error-box" [ngStyle]="{ 'opacity' : error ? 1 : 0 }">
      <cv-svg type="ErrClose"></cv-svg>
      <span>{{error}}</span>
    </div>
    <div class="form-group">
      <cv-button buttonType="stretch" (click)="submit()">
        Log In
      </cv-button>
    </div>
  </form>
  <div class="divider">
    <span>
      Or sign in with
    </span>
  </div>
  <div class="social-btns">
    <cv-button theme="google">
      <cv-svg type="GooglePlus"></cv-svg>
      <span>Google</span>
    </cv-button>
    <cv-button theme="facebook">
      <cv-svg type="Facebook"></cv-svg>
      <span>Facebook</span>
    </cv-button>
  </div>
</div>