<ng-container [ngSwitch]="typeOfView">
    <ng-container *ngSwitchCase=1>
        <cv-mini-statistic *ngFor="let i of [1,2,3]" loading=true></cv-mini-statistic>
   </ng-container>

   <span class="empty" *ngSwitchCase=2>You have no referrers</span>

   <ng-container *ngSwitchCase=3>
       <cv-referrer-statistic *ngFor="let refStat of referrers"
           [title]="refStat.referrerName"
           [link]="refStat.referrerUrl"
           [imgType]="refStat.referrerUrl"
           [result]="refStat.change">
       </cv-referrer-statistic>
   </ng-container>
</ng-container>