<div class="form-container">
  <form *ngIf="!showAdditionalInfo" [formGroup]="registerForm">
    <div class="form-group">
      <label for="">Name*</label>
      <cv-input formControlName="name" [showErrors]="errorFields.includes('name')" placeholder="First & last name">
      </cv-input>
    </div>
    <div class="form-group">
      <label for="">Email Address*</label>
      <cv-input formControlName="username" [showErrors]="errorFields.includes('email')" placeholder="Enter email address"></cv-input>
    </div>
    <div class="form-group">
      <label for="">Password*</label>
      <cv-input formControlName="password" [showErrors]="errorFields.includes('password')" type="password" placeholder="Create a password"></cv-input>
    </div>
    <div class="error-box" [ngStyle]="{ 'opacity' : error ? 1 : 0 }">
      <cv-svg type="ErrClose"></cv-svg>
      <span>{{error}}</span>
    </div>
    <div class="form-group">
      <cv-button buttonType="stretch" (click)="continue()">
        Continue
      </cv-button>
    </div>
  </form>
  <div *ngIf="!showAdditionalInfo" class="divider">
    <span>
      Or sign in with
    </span>
  </div>
  <div *ngIf="!showAdditionalInfo" class="social-btns">
    <cv-button theme="google">
      <cv-svg type="GooglePlus"></cv-svg>
      <span>Google</span>
    </cv-button>
    <cv-button theme="facebook">
      <cv-svg type="Facebook"></cv-svg>
      <span>Facebook</span>
    </cv-button>
  </div>

  <form *ngIf="showAdditionalInfo" [formGroup]="addRegisterForm">
    <div class="form-group">
      <label for="">Company</label>
      <cv-input formControlName="company" placeholder="Enter company name">
      </cv-input>
    </div>
    <div class="form-group">
      <label for="">Company Size</label>
      <ng-select formControlName="size" class="custom" [items]="sizes" placeholder="How many workers are in your company?"></ng-select>
    </div>
    <div class="form-group">
      <label for="">Job Title</label>
      <ng-select formControlName="title" class="custom" [items]="titles" placeholder="What best describes your job title?"></ng-select>
    </div>
    <div class="error-box" [ngStyle]="{ 'opacity' : error ? 1 : 0 }">
      <cv-svg type="ErrClose"></cv-svg>
      <span>{{error}}</span>
    </div>
    <div class="form-group recaptcha">
      <ngx-recaptcha2 #captchaElem [size]="size" [hl]="lang" [theme]="theme" [type]="type" (expire)="handleExpire()" (success)="handleSuccess($event)"></ngx-recaptcha2>
    </div>
    <div class="form-group">
      <cv-button buttonType="stretch" (click)="submit()">
        Sign Up
      </cv-button>
    </div>
  </form>
</div>