@import "../../scss/common";

.form-container {
    >form {
        >.form-group {
            position: relative;
            >label {
                @include font2(map-get($map: $colors, $key:color7));
                line-height: 19px;
                margin-bottom: 5px;
            }
            .ng-select.ng-select-single.custom {
                .ng-select-container {
                    height: 46px;
                    min-height: 46px;
                }
            }
            &.recaptcha {
                padding-top: 24px;
                margin-bottom: 0px;
                display: flex;
                justify-content: center;
            }
        }
        .error-box {
            position: relative;
            top: -5px;
            margin-bottom: -21px;
            @include font9(map-get($map: $colors, $key: color14));
            >cv-svg {
                position: relative;
                top: 2px;
                margin-right: 5px;
            }
        }
    }
    >.divider {
        margin-top: 24px;
        width: 100%;
        height: 13px;
        border-bottom: 1px solid map-get($map: $colors, $key: color11);
        text-align: center;
        >span {
            position: relative;
            top: 2px;
            padding: 0 15px;
            background-color: map-get($map: $colors, $key: color3);
            @include font2(map-get($map: $colors, $key: color7));
            line-height: 19px;
        }
    }
    >.social-btns {
        display: flex;
        flex-direction: row;
        >cv-button {
            flex-grow: 1;
            &:first-child {
                margin-right: 19px;
                span {
                    @include font4(map-get($map: $colors, $key: color12));
                }
            }
            &:last-child {
                span {
                    @include font4(map-get($map: $colors, $key: color13));
                }
            }
            span {
                padding: 0 15px;
                border-left: 1px solid;
                margin: 14px;
                line-height: 26px;
            }
            cv-svg {
                position: relative;
                top: 2px;
                margin-left: 4px;
            }
        }
    }
}