@import "../../scss/common";
.cv-button {
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
    border-radius: 23px;
    line-height: 26px; //Thems
    &.common {
        background-color: map-get($map: $colors, $key: color1);
        @include font4(map-get($map: $colors, $key: color3));
        &:hover {
            background-color: map-get($map: $colors, $key: color2);
        }
    }
    &.common-inverted {
        background-color: map-get($map: $colors, $key: color3);
        border-color: map-get($map: $colors, $key: color1);
        color: map-get($colors, $key: color1);
        &:hover {
            background-color: map-get($map: $colors, $key: color2);
        }

        &.conversion-tooltip {
            height: 35px;
            padding: 6px 16px;
            line-height: 24px;
            margin-top: 0;

            @include font4();

            &:hover {
                background-color: map-get($map: $colors, $key: color3);
            }
        }
    }
    &.cancel-inverted {
        background-color: map-get($map: $colors, $key: color3);
        border-color: map-get($map: $colors, $key: color8);
        color: map-get($colors, $key: color7);

        &:hover {
            border-color: map-get($map: $colors, $key: color7);
        }
    }
    &.bookmark {
        height: 35px;
        width: 168px;
        position: absolute;
        background-color: transparent;
        top: 100%;
        right: 40px;
        margin-top: 0;
        padding: 2px 20px;
        border-top: none;
        &:before {
            content: " ";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
            border-top: none;
            border-radius: 0 0 9px 9px;
            background: map-get($map: $colors, $key: color16);
            transform: perspective(15px) rotateX(-2deg);
            transform-origin: top;
            outline: 1px solid transparent;
        }
    }
    &.google {
        border-radius: 4px;
        background-color: transparent;
        border-color: map-get($map: $colors, $key: color12);
        color: map-get($colors, $key: color12);
    }
    &.facebook {
        border-radius: 4px;
        background-color: transparent;
        border-color: map-get($map: $colors, $key: color13);
        color: map-get($colors, $key: color13);
    }
    &.stretch {
        width: 100%;
    }
    &.anomalies {
        height: 35px;
        width: auto;
        line-height: 14px;
        @include font4(map-get($map: $colors, $key: color3));
        background-color: map-get($map: $colors, $key: color1);
        padding: 11px 30px;
    }

    &.project-settings {
        @include font4();
        margin-top: 0;
        padding: 15px 30px;
        height: 35px;
    }
    &.boarding{
        width: 200px;
        margin: 0;
    }
    &.invite-member {
        margin-top: 0;
        padding: 0 45px;
    }
}
