<div class="traffic-source-wrapper">
  <cv-input-search (update)="search($event)" placeholder="Search"></cv-input-search>

  <ng-container>
    <cv-traffic-source [source]="source" *ngFor="let source of trafficSources"></cv-traffic-source>
  </ng-container>
</div>