<div class="cv-team-members">
  <div class="search">
    <cv-input-search (update)="handleSearch($event)" placeholder="Search"></cv-input-search>
  </div>
  <div class="list-of-members">
    <div class="item-member" *ngFor="let member of members">
      <span class="email">{{member.email}}</span>
      <div class="action">
        <span class="pending" *ngIf="member.isPending">Pending</span>
        <cv-svg *ngIf="!member.isOwner; else ifowner"
          type="Close"
          size="md"
          (click)="handleDeleteMember(member.email)"></cv-svg>
      </div>
      <ng-template #ifowner>
        <span class="owner">Owner</span>
      </ng-template>
    </div>
  </div>
  <div class="add-member-form">
    <form action="#" [formGroup]="addMemberForm">
      <label for="">Invite Members</label>
      <div *ngIf="showError" class="alert alert-danger">
        <cv-svg type="Cancel" size="md"></cv-svg>
        <span>Invalid email</span>
      </div>
      <div class="input-container">
          <cv-input theme="common active-focus"
            formControlName="email"
            placeholder="Enter Email Address"></cv-input>
          <cv-button theme="common invite-member" (click)="handleAddNewMember()">Invite</cv-button>
      </div>
    </form>
  </div>
</div>