@import "../../scss/common";

.cv-team-members {
    .search {
        width: 184px;
        margin-bottom: 5px;
    }

    .list-of-members {
        height: 275px;
        overflow-y: auto;

        .item-member {
            position: relative;
            padding: 13px 0px;
            border-bottom: 1px solid get-color(color8);

            @include font2(get-color(color4));

            .email {}

            .pending {
                color: get-color(color34);
            }

            .action {
                position: absolute;
                top: 15px;
                right: 5px;

                cv-svg {
                    top: 2px;
                    margin-left: 7px;
                    cursor: pointer;

                    ::ng-deep svg {
                        path {
                            fill: get-color(color8);
                        }
                    }

                    &:hover {
                        ::ng-deep svg {
                            path {
                                fill: get-color(color1);
                            }
                        }
                    }
                }
            }
        }
    }

    .add-member-form {
        padding: 15px 46px 0;
        margin-left: -46px;
        margin-right: -46px;
        border-top: 1px solid get-color(color8);

        .alert {
            text-align: center;

            cv-svg {
                display: inline-block;
                position: absolute;
                top: 14px;
                margin-right: 6px;

                ::ng-deep svg {
                    path {
                        fill: get-color(color14);
                    }
                }
            }
            span {
                color: get-color(color14);
                padding-left: 18px;
            }
        }

        label {
            @include font4(get-color(color7));
        }

        .input-container {
            display: flex;

            cv-input {
                flex-grow: 1;
                margin-right: 20px;
            }
        }
    }
}
