<div class="cv-input-search" [class.not-empty]="inputValue">
  <div class="search">
      <cv-svg [type]="searchType"></cv-svg>
  </div>
  <cv-input
    theme="anomaly-news"
    [ngClass]=""
    [disabled]="disabled"
    [placeholder]="placeholder"
    [debounce]="debounce"
    [inputType]="inputType"
    [type]="type"
    [(ngModel)]="inputValue"
    (ngModelChange)="handleChange($event)">
  </cv-input>
  <div class="cancel" *ngIf="inputValue" (click)="clear()">
      <cv-svg [type]="closeType"></cv-svg>
  </div>
</div>