@import '../../scss/common';

.cv-input-search {
    height: 30px;
    padding: 1px 15px 1px 30px;
    border: 1px solid map-get($map: $colors, $key: color8);
    border-radius: 15px;
    background-color: map-get($map: $colors, $key: color3);
    position: relative;
    transition: all .25s;

    .search, .cancel {
        width: 16px;
        height: 16px;
        top: 4px;
        position: absolute;

        ::ng-deep {
            svg {
                path {
                    color: map-get($map: $colors, $key: color7);
                }
            }
        }
    }

    .search {
        left: 9px;
    }

    .cancel {
        right: 7px;
        cursor: pointer;

        ::ng-deep {
            svg {
                path {
                    fill: get-color(color7);
                }
            }
        }
    }

    &:hover, &.not-empty {
        border-color: get-color(color1);

        .search {
            ::ng-deep {
                svg {
                    path {
                        fill: get-color(color1);
                    }
                }
            }
        }
    }
}