@import "../../scss/common";
.workstage {
    height: 100%;
    background-color: map-get($map: $colors, $key: color18);
    >.workstage-header {
        position: fixed;
        width: 100%;
        z-index: 10;
        background-color: map-get($map: $colors, $key: color5);
    }
    >.content-container {
        width: 1440px;
        position: relative;
        top: 73px;
        margin: auto;
        @media (min-width: 1366px) and (max-width: 1440px){
            width: 1306px;
        }
        @media (max-width: 1365px){
            width: 1208px;
        }
    }
}