<div class="workstage">
    <div class="workstage-header">
        <cv-navbar-header></cv-navbar-header>
    </div>
    <div class="content-container">
        <router-outlet *ngIf="sitesInfoReady"></router-outlet>
    </div>
</div>