@import "../../scss/common";

$borderColor: map-get($map: $colors, $key: color8);

.cv-mini-statistic {
    display: flex;
    margin-top: 14px;
    height: 34px;
    padding-right: 20px;

    @include font2;

    .hidder {
        width: 34px;
        height: 35px;
        overflow: hidden;
        border: 1px solid $borderColor;
        border-radius: 3px;
        margin-right: 10px;

        .imgs-container {
            display: flex;
            flex-wrap: wrap;
            width: 34px;
            height: 34px;
        }

        .icon-container {
            width: 17px;
            height: 17px;
            flex-grow: 1;
            display: flex;
            align-items: center;

            &.stretch {
                height: 100%;
            }
        }

        &.loading {
            background-color: get-color(color26);
            border-color: get-color(color26);
        }
    }

    .describes-container {
        display: flex;
        flex-direction: column;
        max-width: 295px;
        flex-grow: 1;
        line-height: 17px;

        &.loading {
            > * {
                background: linear-gradient(to right, get-color(color26), get-color(color27), get-color(color26));
            }

            span {
                height: 13px;
                margin: 2px;
                border-radius: 2px;
            }

            span:nth-child(1) {
                width: 65%;
            }

            span:nth-child(2) {
                width: 25%;
            }
        }
    }

    .actions {
        margin-left: auto;
    }

    // Theming
    &.top-conversion {
        &.hovered {
            .hidder {
                border: 1px solid get-color(color1);
            }
        }
    }

    &.tooltip-conversion {
        .hidder {
            border-color: get-color(color26) !important;
        }
    }
}