<div class="cv-mini-statistic" [ngClass]="type">
  <ng-template #notloading>
    <div class="hidder">
      <div class="imgs-container">
        <div class="icon-container"
          [class.stretch]="items < 3" *ngFor="let i of locItems">
          <cv-svg *ngIf="svgType" [type]="svgType" [svgStyle]="{ 'width': '100%', 'height': '100%' }"></cv-svg>
          <ng-content select=".icon-content"></ng-content>
        </div>
      </div>
    </div>
    <div class="describes-container">
      <span class="title" *ngIf="title" cvEllipsis>{{title}}</span>
      <ng-content select=".title-content"></ng-content>
      <span class="sub-title" *ngIf="subTitle" cvEllipsis>{{subTitle}}</span>
      <ng-content select=".sub-title-content"></ng-content>
    </div>
    <div class="actions">
      <span class="result" *ngIf="result" cvEllipsis>
        {{result}}
      </span>
      <ng-content select="span.action"></ng-content>
    </div>
  </ng-template>
  <ng-container *ngIf="loading; else notloading">
    <div class="hidder loading">
    </div>
    <div class="describes-container loading">
      <span></span>
      <span></span>
    </div>
  </ng-container>
</div>