@import "../../scss/common";
.cv-auth-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-color: map-get($map: $colors, $key: color9);
    min-width: 1280px;
    >.page-container {
        position: relative;
        width: 415px;
        background-color: map-get($map: $colors, $key:color3);
        box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.3);
        padding: 22px 30px 30px 30px;
        border-radius: 4px;
        &.login {
            height: 415px;
            &:before {
                margin-top: -165px;
            }
            &:after {
                margin-top: -165px;
            }
        }
        &.register {
            height: 500px;
            &:before {
                margin-top: -200px;
            }
            &:after {
                margin-top: -200px;
            }
        }
        &.forgot {
            height: 298px;
            &:before {
                margin-top: -100px;
            }
            &:after {
                margin-top: -100px;
            }
        }
        >.logo-container {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: -270px;
            margin-top: 0;
            width: 190px;
            >.text {
                width: 200px;
                padding-left: 56px;
                line-height: 26px;
                margin-top: -10px;
                @include font4(map-get($map: $colors, $key:color3));
            }
        }
    }
    >.change-action {
        margin-top: 22px;
        height: 26px;
        width: 415px;
        @include font4(map-get($map: $colors, $key:color30));
        line-height: 26px;
        a {
            cursor: pointer;
            color: map-get($map: $colors, $key: color3);
            text-decoration: none;
        }
    }
    >.footer-box {
        position: absolute;
        bottom: 0;
        width: 289px;
        opacity: 0.9;
        color: #FFFFFF;
        font-family: 'Nunito', sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 20px;
        .link {
            color: map-get($map: $colors, $key: color3);
            text-decoration: underline;
        }
    }
}