<div class="cv-auth-page">
  <div class="page-container left-corner" [ngClass]="{'login' : (title == 'Login'), 'register' : (title == 'Sign Up'), 'forgot' : (title == 'Password recovery')}">
    <div class="logo-container">
      <cv-svg type="Convizit"></cv-svg>
      <div class="text">{{title}}</div>
    </div>
    <router-outlet></router-outlet>
  </div>
  <div [ngSwitch]="title" class="change-action">
    <div *ngSwitchCase="'Login'">
      Don’t have an account yet?
      <span>
        <a routerLink="register"> Sign up</a>
      </span>.
    </div>
    <div *ngSwitchCase="'Sign Up'">
      Already have an acount?
      <span>
        <a routerLink="login"> Login</a>
      </span>.
    </div>
    <div *ngSwitchDefault>
      Back to
      <span>
        <a routerLink="login"> Login</a>
      </span>.
    </div>
  </div>
  <div class="footer-box">
    By clicking "Continue" I agree to Convizit’s
    <span>
      <a class="link" target="_blank" rel="noopener noreferrer" href="https://convizit.com/terms-of-use/">Terms of Service</a>
    </span> and
    <span>
      <a class="link" target="_blank" rel="noopener noreferrer" href="https://convizit.com/terms-of-use/">Privacy Policy</a>
    </span>.
  </div>
</div>