@import '../../scss/common';

.cv-toggler {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 16px;
    border-radius: 9px;
    background-color: get-color(color7);
    margin-bottom: -3px;
    margin-left: 9px;
    padding-left: 2px;

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: get-color(color7);
        transition: .4s;
        border-radius: 34px;
        
        &:before {
            position: absolute;
            content: "";
            height: 10px;
            width: 10px;
            left: 0;
            bottom: -1px;
            transition: .4s;
            box-sizing: border-box;
            height: 18px;
            width: 18px;
            border: 1px solid get-color(color7);
            border-radius: 17.5px;
            background-color: #FFFFFF;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
        }

        &:hover{
            &:before {
                border: 1px solid get-color(color1);
            }
        }
    }

    input {
        visibility: hidden;
    }

    input:checked+.slider {
        background-color: get-color(color1);
        
        &:before {
            transform: translateX(10px);
            border: 1px solid get-color(color1);
        }
    }
}