<div class="cv-collapse-bookmark" [ngClass]="type"
  [class.open]="isOpen"
>
  <div class="collapse-content">
      <ng-content></ng-content>
  </div>
  <cv-button theme="bookmark" (click)="toggleComponent()">
      <cv-svg type="GeneralStats"
        [svgStyle]="{ 'width': '10px', 'height': '10px'}">
      </cv-svg>
      <span>
          Overview
      </span>
      <cv-svg type="ArrowDown"
        [svgStyle]="{'transform': isOpen ? 'rotate(180deg)': 'rotate(0deg)', 'width': '9px', 'height': '9px'}">
      </cv-svg>
  </cv-button>
</div>