@import "../../scss/common";
.cv-collapse-bookmark {
    position: relative;
    background-color: map-get($map: $colors, $key: color16);
    height: 0;
    transition: height .5s;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
    .collapse-content {
        height: 100%;
        overflow: hidden;
    }
    cv-button {
        ::ng-deep svg-icon {
            display: flex;
        }
        cv-svg {
            &:first-child{
                margin-right: 9px;
            }
            &:last-child{
                margin-left: 5px;
            }
            ::ng-deep svg {
                path {
                    fill: map-get($map: $colors, $key: color17);
                }
            }
        }
        span {
            @include font2(map-get($map: $colors, $key: color17));
        }
        &:hover {
            span {
                color: map-get($map: $colors, $key: color3);
            }
            cv-svg {
                ::ng-deep svg {
                    path {
                        fill: map-get($map: $colors, $key: color3);
                    }
                }
            }
        }
    }
    &.open {
        height: 218px;
        cv-button {
            span {
                color: map-get($map: $colors, $key: color3);
            }
            cv-svg {
                ::ng-deep svg {
                    path {
                        fill: map-get($map: $colors, $key: color3);
                    }
                }
            }
        }
    }
}