$primary-font: "Nunito";
$secondary-font: sans-serif;
$third-font: "Lato";

$extra-bold: 900;
$bold: 700;
$semi-bold: 600;
$medium: 500;
$normal: 400;
$light: 300;


@mixin font1($color: false) {
    font-family: $primary-font, $secondary-font;
    font-weight: $normal;
    font-size: 14px;
    
    @if $color {
        color: $color;
    }
}
@mixin font2($color: false) {
    font-family: $primary-font, $secondary-font;
    font-weight: $bold;
    font-size: 14px;
    
    @if $color {
        color: $color;
    }
}

@mixin font3($color: false) {
    font-family: $primary-font, $secondary-font;
    font-weight: $normal;
    font-size: 16px;

    @if $color {
        color: $color;
    }
}

@mixin font4($color: false) {
    font-family: $primary-font, $secondary-font;
    font-weight: $bold;
    font-size: 16px;

    @if $color {
        color: $color;
    }
}

@mixin font5($color: false) {
    font-family: $primary-font, $secondary-font;
    font-weight: $normal;
    font-size: 18px;

    @if $color {
        color: $color;
    }
}

@mixin font6($color: false) {
    font-family: $primary-font, $secondary-font;
    font-weight: $bold;
    font-size: 18px;

    @if $color {
        color: $color;
    }
}

@mixin font7($color: false) {
    font-family: $primary-font, $secondary-font;
    font-weight: $normal;
    font-size: 20px;

    @if $color {
        color: $color;
    }
}

@mixin font8($color: false) {
    font-family: $primary-font, $secondary-font;
    font-weight: $bold;
    font-size: 20px;

    @if $color {
        color: $color;
    }
}

@mixin font9($color: false) {
    font-family: $third-font, $secondary-font;
    font-weight: $normal;
    font-size: 14px;

    @if $color {
        color: $color;
    }
}

@mixin font10($color: false) {
    font-family: $primary-font, $secondary-font;
    font-weight: $bold;
    font-size: 46px;

    @if $color {
        color: $color;
    }
}

@mixin font11($color: false) {
    font-family: $primary-font, $secondary-font;
    font-weight: $bold;
    font-size: 13px;

    @if $color {
        color: $color;
    }
}

@mixin font12($color: false) {
    font-family: $primary-font, $secondary-font;
    font-weight: $normal;
    font-size: 12px;

    @if $color {
        color: $color;
    }
}

@mixin font13($color: false) {
    font-family: $primary-font, $secondary-font;
    font-weight: $bold;
    font-size: 28px;

    @if $color {
        color: $color;
    }
}

@mixin font14($color: false) {
    font-family: $primary-font, $secondary-font;
    font-weight: $bold;
    font-size: 48px;

    @if $color {
        color: $color;
    }
}

@mixin font15($color: false) {
    font-family: $primary-font, $secondary-font;
    font-weight: $normal;
    font-size: 13px;

    @if $color {
        color: $color;
    }
}

@mixin font16($color: false) {
    font-family: $third-font, $secondary-font;
    font-weight: $normal;
    font-size: 13px;

    @if $color {
        color: $color;
    }
}
