<div class="cv-anomalies-news">
    <ng-container *ngIf="loading; else notloading">
        <div class="icon-container loading">
            
        </div>
        <div class="title loading">
            <div class="label"></div>
            <div class="text"></div>
        </div>
    </ng-container>
    <ng-template #notloading>
        <div class="icon-container">
            <cv-svg type="Anomaly" [svgStyle]="{ 'width': '100%', 'height': '100%'}"></cv-svg>
        </div>
        <div class="title">
            <div class="label">{{ anomalyTitle }}</div>
            <div class="text" cvEllipsis [innerHTML]="locAnomalyType"></div>
        </div>
        <div class="difference">
            <div class="label">
                <span>{{changes
                    < 0 ? 'Decreased' : 'Increase'}} by</span>
            </div>
            <div class="text">
                <cv-percents [value]="changes" default="N/A"></cv-percents>
            </div>
        </div>
        <div class="comparing">
            <div class="label">Comparing</div>
            <div class="text">
                Prev. {{ timeAgo }}
            </div>
        </div>
        <div class="action">
            <div class="time">
                {{ timestamp | fromNow:lastCompare }}
            </div>
            <div class="actions">
                <div class="dismiss">
                    Dismiss
                </div>
                <div class="sm-icon-container" tooltip="Pin" containerClass="pin-news">
                    <cv-svg type="Pin" [svgStyle]="{ 'width': '100%', 'height': '100%'}"></cv-svg>
                </div>
            </div>
        </div>
    </ng-template>
</div>