@import "../../../scss/common";

.cv-anomalies-news {
    display: flex;
    height: 108px;
    border: 1px solid map-get($map: $colors, $key: color24);
    border-radius: 4px;
    background-color: map-get($map: $colors, $key: color3);
    padding: 21px;
    margin-bottom: 10px;
    position: relative;
    align-items: center;

    @include font1(map-get($map: $colors, $key: color7));

    .icon-container {
        width: 66px;
        height: 66px;
        border: 1px solid map-get($map: $colors, $key: color25);
        margin-right: 17px;
        border-radius: 4px;
        overflow: hidden;
    }

    .title {
        width: 248px;
        margin-right: 50px;

        .label {
            margin-bottom: 4px;
        }

        .text {
            @include font6(map-get($map: $colors, $key: color4));

            ::ng-deep .highlight {
                background-color: get-color(color29);
            }
        }
    }

    .difference {
        margin-right: 58px;
        width: 87px;

        .label {
            margin-bottom: 4px;
        }
    }

    .comparing {
        .label {
            margin-bottom: 4px;
        }

        .text {
            @include font2(map-get($map: $colors, $key: color4));
        }
    }

    .action {
        flex-grow: 1;

        .time {
            width: 100%;
            margin-bottom: 30px;
            text-align: right;

            &:first-letter {
                text-transform: capitalize;
            }
        }

        .actions {
            display: flex;
            justify-content: flex-end;

            .dismiss {
                visibility: hidden;
                padding-right: 10px;
                border-right: 1px solid map-get($map: $colors, $key: color25);
                cursor: pointer;

                &:hover {
                    color: map-get($map: $colors, $key: color1);
                }
            }

            .sm-icon-container {
                margin-left: 14px;

                &:hover {
                    ::ng-deep svg {
                        cursor: pointer;

                        path {
                            fill: map-get($map: $colors, $key: color1);
                        }
                    }
                }
            }

            ::ng-deep {
                .pin-news {
                    opacity: 0;
                    animation: appear .5s forwards;

                    .tooltip-arrow {
                        &:before {
                            border-top-color: map-get($map: $colors, $key: color1);
                        }
                    }

                    .tooltip-inner {
                        padding: 0.05rem 0.4rem;
                        background-color: map-get($map: $colors, $key: color1);
                    }
                }
            }
        }
    }

    .sm-icon-container {
        width: 16px;
        height: 16px;
    }

    &:hover, &.active {
        border-color: map-get($map: $colors, $key: color1);

        .title {
            .text {
                color: map-get($map: $colors, $key: color1);
            }
        }

        .icon-container {
            border-color: map-get($map: $colors, $key: color1);
        }

        .action {
            .actions {
                .dismiss {
                    visibility: visible;
                }
            }
        }
    }

    .loading {
        &.icon-container {
            background-color: get-color(color28);
            border-color: get-color(color28);
        }

        &.title {
            div {
                background-color: get-color(color28);
                border-radius: 2px;
            }

            .label {
                height: 13px;
                margin-bottom: 13px;
                width: 45%;
            }

            .text {
                height: 16px;
                width: 85%;
            }
        }
    }
}
