@import "../../../scss/common";
.cv-navbar-header {
    .navbar {
        height: 72px;
        >.navbar-header {
            display: flex;
            align-items: center;
            >.navbar-brand {
                height: 28px;
                padding: 0;
                margin: 0;
                margin-right: 30px;
                margin-left: 14px;
                .cv-svg {
                    height: 28px;
                }
            }
            >.btn-group {
                &.open {
                    .current-site {
                        color: #84B4FF;
                    }
                    .dd-icon ::ng-deep path {
                        fill: #84B4FF;
                    }
                }
                >.btn-sites {
                    width: auto;
                    max-width: 188px;
                    min-width: 108px;
                    height: 46px;
                    margin: 0;
                    border-radius: 10px;
                    border: 1px solid map-get($map: $colors, $key: color15);
                    background-color: map-get($map: $colors, $key: color31);
                    line-height: 22px;
                    padding-left: 16px;
                    padding-right: 16px;
                    display: flex;
                    justify-content: space-between;
                    outline: none !important;
                    box-shadow: none;
                    @include font4(map-get($map: $colors, $key: color3));
                    >.current-site {
                        max-width: 135px;
                        white-space: nowrap;
                        overflow: hidden !important;
                        text-overflow: ellipsis;
                    }
                    >.dd-icon {
                        padding-left: 5px;
                    }
                }
                >.sites-list {
                    padding-top: 19px;
                    width: 226px;
                    border-radius: 4px;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                    padding-bottom: 0;
                    top: calc(100% - 15px) !important;
                    >.menuitem {
                        padding-left: 23px;
                        margin-bottom: 15px;
                    }
                    >.divider {
                        width: 178px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 0;
                    }
                    >.command{
                        height: 58px;
                        width: 178px;
                        margin: auto;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
        >.navigations {
            align-items: flex-end;
            .nav-item {
                span {
                    @include font4(map-get($map: $colors, $key: color6));
                    line-height: 22px;
                    &:hover {
                        color: map-get($map: $colors, $key: color3);
                    }
                }
                ::ng-deep svg {
                    path {
                        fill: map-get($map: $colors, $key: color6);
                    }
                }
                .active,
                &:hover {
                    span {
                        color: map-get($map: $colors, $key: color3);
                    }
                    ::ng-deep svg {
                        path {
                            fill: map-get($map: $colors, $key: color3);
                        }
                    }
                }
                .nav-link {
                    display: flex;
                    >cv-svg {
                        margin-right: 7px;
                    }
                }
            }
        }
        .btn-periods {
            width: 116px;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: row;
            background-color: transparent;
            outline: none !important;
            margin-right: 10px;
            transition: 0ms;
            @include font2(map-get($map: $colors, $key: color3));
            line-height: 19px;
            &:focus {
                box-shadow: none;
            }
            &:hover {
                color: map-get($map: $colors, $key: color6);
                ::ng-deep svg {
                    path,
                    rect {
                        fill: map-get($map: $colors, $key: color6);
                    }
                }
            }
            .calendar-icon {
                position: relative;
                top: 2px;
                margin-right: 9px;
            }
            .dd-icon {
                margin-left: 7px;
            }
        }
        .btn-settings {
            display: flex;
            align-items: center;
            flex-direction: row;
            background-color: transparent;
            outline: none !important;
            margin-right: 10px;
            ::ng-deep svg-icon {
                display: flex;
            }
            ::ng-deep svg {
                path {
                    fill: map-get($map: $colors, $key: color3);
                }
            }
            &:focus {
                box-shadow: none;
            }
            &:hover {
                ::ng-deep svg {
                    path {
                        fill: map-get($map: $colors, $key: color6);
                    }
                }
            }
        }
        .period-list,
        .settings-list {
            min-width: 0;
            padding-top: 20px;
            padding-bottom: 4px;
            box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
            >.menuitem {
                cursor: pointer;
                padding-left: 23px;
                @include font2(map-get($map: $colors, $key:color4));
                margin-bottom: 15px;
                &:hover {
                    color: map-get($map: $colors, $key: color1);
                }
            }
        }
        .period-list {
            width: 126px;
        }
        .settings-list {
            width: 166px;
            >.divider {
                width: 122px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        cv-collapse-bookmark {
            position: fixed;
            top: 73px;
            width: 100%;
            z-index: 5;
        }
    }
}