<div class="cv-navbar-header" *ngIf="!!selectedSite">
  <nav class="navbar">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">
        <cv-svg type="ConvizitLogo"></cv-svg>
      </a>
      <div class="btn-group" dropdown>
        <button id="button-sites" dropdownToggle type="button" class="btn btn-sites" aria-controls="dropdown-sites">
          <span class="current-site">
            {{ selectedSite && selectedSite.name }}
          </span>
          <span class="dd-icon">
            <cv-svg type="ArrowDown" [svgStyle]="{ 'width': '9px', 'height': '9px' }"></cv-svg>
          </span>
        </button>
        <ul id="dropdown-sites" *dropdownMenu class="dropdown-menu sites-list" role="menu" aria-labelledby="button-sites">
          <li class="menuitem" role="menuitem" *ngFor="let site of sites">
            <cv-describer-with-action [title]="site.name" [subTitle]="site.viewRange + ' view'" actionType="Gear" (onTitleClick)="selectSite(site.id)"
              (onSubTitleClick)="selectSite(site.id)" (onActionClick)="showConfigModal(site.id)">
            </cv-describer-with-action>
          </li>
          <li class="divider dropdown-divider"></li>
          <li class="command">
            <cv-action-label type="Create" [svgStyle]="{ 'width': '20px', 'height': '20px'}" title="Create new project"></cv-action-label>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar navigations">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/news" routerLinkActive="active">
            <cv-svg type="NewsFeed" [svgStyle]="{ 'width': '20px', 'height': '20px' }"></cv-svg>
            <span>News Feed</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/events" routerLinkActive="active">
            <cv-svg type="Events" [svgStyle]="{ 'width': '25px', 'height': '20px' }"></cv-svg>
            <span>Events</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/traffic" routerLinkActive="active">
            <cv-svg type="Referrers" [svgStyle]="{ 'width': '25px', 'height': '25px' }"></cv-svg>
            <span>Traffic Source</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="navbar-right">
      <div class="btn-group" dropdown>
        <button id="button-period" dropdownToggle type="button" class="btn btn-periods" aria-controls="dropdown-period">
          <div class="calendar-icon">
            <cv-svg type="Calendar" [svgStyle]="{ 'width': '14px', 'height': '14px' }"></cv-svg>
          </div>
          <div>{{ workstageService.period }}</div>
          <div class="dd-icon">
            <cv-svg type="ArrowDown" [svgStyle]="{ 'width': '9px', 'height': '9px' }"></cv-svg>
          </div>
        </button>
        <ul id="dropdown-period" *dropdownMenu class="dropdown-menu period-list" role="menu" aria-labelledby="button-period">
          <li class="menuitem" role="menuitem" *ngFor="let period of periods" (click)="selectPeriod(period)">
            {{ period }}
          </li>
        </ul>
      </div>
      <div class="btn-group" dropdown>
        <button id="button-settings" dropdownToggle type="button" class="btn btn-settings" aria-controls="dropdown-settings">
          <span class="calendar-icon">
            <cv-svg type="Settings" [svgStyle]="{ 'width': '20px', 'height': '21px' }"></cv-svg>
          </span>
        </button>
        <ul id="dropdown-settings" *dropdownMenu class="dropdown-menu dropdown-menu-right settings-list" role="menu" aria-labelledby="button-settings">
          <li class="menuitem" role="menuitem">
            Project Settings
          </li>
          <li class="menuitem" role="menuitem">
            Invite Memebers
          </li>
          <li class="divider dropdown-divider"></li>
          <li class="menuitem" role="menuitem">
            Account Settings
          </li>
          <li class="menuitem" role="menuitem">
            Log Out
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <cv-collapse-bookmark>
    <p>
      Hello my brudas!
    </p>
  </cv-collapse-bookmark>
</div>