<div class="base-alert-modal font-color15">
    <div class="base-alert-icon">
        <cv-svg [type]="args.iconType"></cv-svg>
    </div>
    <div class="base-alert-text" *ngIf="args.body"
        [innerHtml]="args.body">
    </div>
</div>