<div class="title">
  Enter a new password
</div>
<div class="content">
  <div class="title">
    Reset password for account:
  </div>
  <div class="value">
    {{userEmail}}
  </div>
  <form [formGroup]="setForm">
    <div class="form-group">
      <cv-input formControlName="password" type="password" [showErrors]="errorFields.includes('password')" placeholder="Enter a new password"></cv-input>
    </div>
    <div class="error-box" [ngStyle]="{ 'opacity' : error ? 1 : 0 }">
      <cv-svg type="ErrClose"></cv-svg>
      <span>{{error}}</span>
    </div>
    <div class="form-group">
      <cv-button buttonType="stretch" (click)="submit()">
        Set New Password
      </cv-button>
    </div>
  </form>
</div>