@import "../../scss/common";
.title {
    margin-bottom: 18px;
    @include font4(map-get($map: $colors, $key: color4));
    line-height: 26px;
    opacity: 0.9;
}

.content {
    >.title,
    >.value {
        margin-bottom: 0;
        @include font3(map-get($map: $colors, $key: color7));
        opacity: 0.9;
        line-height: 22px;
        width: 298px;
    }
    >.value {
        margin-bottom: 26px;
    }
}

form {
    >.form-group {
        position: relative;
    }
    >.error-box {
        position: relative;
        top: -5px;
        margin-bottom: -24px;
        @include font9(map-get($map: $colors, $key: color14));
        >cv-svg {
            position: relative;
            top: 2px;
            margin-right: 5px;
        }
    }
}