<div class="traffic-source">
  <div class="source-icon">
    <cv-source-favicon [sourceUrl]="source.url"></cv-source-favicon>
  </div>
  <div class="source-value">
    <div cvEllipsis class="title">
      {{source.name}}
    </div>
    <a href="{{source.url}}" target="_blank" rel="noopener noreferrer" cvEllipsis class="link">
      {{source.url}}
    </a>
  </div>
  <div class="source-conversion-rate">
    {{source.conversionRate * 100 | round}}%
  </div>
  <div class="source-conversion">
    {{source.conversions}}
  </div>
  <div class="source-visitors">
    {{source.visitors}}
  </div>
  <div class="source-bounce">
    {{source.bounceRate * 100 | round}}%
  </div>
  <div class="source-links">
    {{source.urls && source.urls.length + ' URLs'}}
  </div>
</div>