@import "../../../scss/common";
.traffic-source {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid map-get($map: $colors, $key: color8);
    >.source-icon {
        height: 34px;
        width: 34px;
        border: 1px solid map-get($map: $colors, $key: color8);
        border-radius: 4px;
        margin-right: 10px;
        overflow: hidden;
    }
    >.source-value {
        width: 500px;
        >.title {
            @include font4(map-get($map: $colors, $key: color4));
            max-width: 90%;
            line-height: 20px;
        }
        >.link {
            @include font2(map-get($map: $colors, $key: color7));
            max-width: 90%;
            line-height: 20px;
            text-decoration: none;
            &:hover {
                color: map-get($map: $colors, $key: color1);
            }
        }
    }
    >.source-conversion-rate {
        width: 137px;
        @include font2(map-get($map: $colors, $key: color4));
        line-height: 28px;
    }
    >.source-conversion {
        width: 185px;
        @include font2(map-get($map: $colors, $key: color4));
        line-height: 28px;
    }
    >.source-visitors {
        width: 167px;
        @include font2(map-get($map: $colors, $key: color4));
        line-height: 28px;
    }
    >.source-bounce {
        width: 146px;
        @include font2(map-get($map: $colors, $key: color4));
        line-height: 28px;
    }
    >.source-links {
        width: 91px;
        @include font2(map-get($map: $colors, $key: color7));
        line-height: 28px;
    }
}