@import "../../scss/common";
.boarding-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    >.boarding-box {
        margin-top: 148px;
        height: 390px;
        width: 690px;
        background-color: map-get($map: $colors, $key: color3);
        border-radius: 4px;
        box-shadow: 1px 0 10px 1px rgba(6, 47, 112, 0.2);
        padding-left: 40px;
        padding-top: 40px;
        padding-right: 40px;
        padding-bottom: 39px;
        margin-bottom: 51px;
        position: relative;
        >.boarding-box-title {
            display: flex;
            flex-direction: row;
            position: absolute;
            margin-top: -148px;
            margin-left: -40px;
            >.icon {
                margin-right: 28px;
            }
            >.content {
                >.title {
                    @include font13(map-get($map: $colors, $key: color4));
                    line-height: 38px;
                    margin-bottom: 2px;
                    margin-top: 10px;
                }
                >.page {
                    @include font4(map-get($map: $colors, $key: color7));
                    line-height: 22px;
                }
            }
        }
        >.install-code {
            margin-left: -40px;
            margin-top: -40px;
            margin-right: -40px;
            height: 85px;
            background-color: map-get($map: $colors, $key: color1);
            margin-bottom: 25px;
            padding: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            >.title {
                @include font3(map-get($map: $colors, $key: color3));
                line-height: 22px;
                >.element {
                    font-weight: 700;
                }
            }
            >.action {
                height: 42px;
                width: 200px;
                border: 1px solid map-get($map: $colors, $key: color3);
                border-radius: 23px;
                background-color: map-get($map: $colors, $key: color1);
                @include font4(map-get($map: $colors, $key: color3));
                line-height: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                &:hover {
                    border: 2px solid map-get($map: $colors, $key: color3);
                }
            }
        }
        >.title {
            line-height: 22px;
            margin-bottom: 8px;
            @include font4(map-get($map: $colors, $key: color4));
        }
        >form {
            display: flex;
            align-items: center;
            margin-bottom: 29px;
        }
        >.error-box {
            position: relative;
            top: -33px;
            margin-bottom: -21px;
            @include font9(map-get($map: $colors, $key: color14));
            >cv-svg {
                position: relative;
                top: 2px;
                margin-right: 5px;
            }
        }
        >.description {
            @include font1(map-get($map: $colors, $key: color4));
            line-height: 19px;
            margin-bottom: 9px;
            >.head-span {
                font-weight: bold;
            }
        }
        >.code-source {
            height: 92px;
            border: 1px solid map-get($map: $colors, $key: color11);
            border-radius: 4px;
        }
    }
    >.check-isntall {
        width: 348px;
        margin-top: 10px;
        ::ng-deep .cv-button {
            margin-top: 0px;
        }
    }
    >.error-box {
        margin-top: -39px;
        padding-left: 13px;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 39px;
        width: 690px;
        border-radius: 4px;
        background-color: map-get($map: $colors, $key: color14);
        >.text {
            opacity: 0.9;
            line-height: 26px;
            @include font2(map-get($map: $colors, $key: color3));
        }
    }
}