<div class="boarding-content">
  <div class="boarding-box">
    <div class="boarding-box-title">
      <div class="icon">
        <svg width="64px" height="73px" viewBox="0 0 64 73" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <linearGradient x1="74.7219808%" y1="63.2634141%" x2="14.4099248%" y2="31.8670128%" id="linearGradient-1">
              <stop stop-color="#96BDF9" offset="0%"></stop>
              <stop stop-color="#C4DBFF" offset="100%"></stop>
            </linearGradient>
            <rect id="new-project-path-2" x="0" y="0" width="64" height="64" rx="10"></rect>
          </defs>
          <g id="Settings" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Setting---Create-new-project" transform="translate(-338.000000, -153.000000)">
              <g id="Group-5" transform="translate(338.000000, 153.000000)">
                <g id="New-Project">
                  <g id="Rectangle-7-Copy-4" transform="translate(0.000000, 9.000000)">
                    <mask id="new-project-mask-3" fill="white">
                      <use xlink:href="#new-project-path-2"></use>
                    </mask>
                    <use id="Rectangle-2" fill="url(#linearGradient-1)" xlink:href="#new-project-path-2"></use>
                    <path d="M34,-7 L60,-7 C61.6568542,-7 63,-5.65685425 63,-4 L63,11 C63,12.6568542 61.6568542,14 60,14 L51.4232245,14 C50.5059297,14 49.6390441,14.4196648 49.0700696,15.1391771 L48.3537839,16.0449759 C47.6989347,16.8730836 46.4967606,17.0135373 45.668653,16.358688 C45.5373835,16.254883 45.4203137,16.1342894 45.3204462,16 L44.7327662,15.2097612 C44.1667164,14.448608 43.2740365,14 42.3254762,14 L34,14 C32.3431458,14 31,12.6568542 31,11 L31,-4 C31,-5.65685425 32.3431458,-7 34,-7 Z"
                      id="Rectangle-7-Copy" fill="#6BA4FF" opacity="0.300000012" mask="url(#new-project-mask-3)"></path>
                  </g>
                  <path d="M18,34 L51,34 C52.6568542,34 54,35.3431458 54,37 L54,61 C54,62.6568542 52.6568542,64 51,64 L18,64 C16.3431458,64 15,62.6568542 15,61 L15,37 C15,35.3431458 16.3431458,34 18,34 Z"
                    id="Rectangle-15" fill="#FFFFFF"></path>
                  <path d="M17,35 C16.4477153,35 16,35.4477153 16,36 L16,62 C16,62.5522847 16.4477153,63 17,63 L52,63 C52.5522847,63 53,62.5522847 53,62 L53,36 C53,35.4477153 52.5522847,35 52,35 L17,35 Z M17,33 L52,33 C53.6568542,33 55,34.3431458 55,36 L55,62 C55,63.6568542 53.6568542,65 52,65 L17,65 C15.3431458,65 14,63.6568542 14,62 L14,36 C14,34.3431458 15.3431458,33 17,33 Z"
                    id="Rectangle-15" fill="#6BA4FF" fill-rule="nonzero"></path>
                  <path d="M16,35 L50,35 L50,57 C50,59.209139 48.209139,61 46,61 L16,61 L16,35 Z" id="Rectangle-15" fill="#6BA4FF" opacity="0.399999976"></path>
                  <path d="M11,28 L44,28 C45.6568542,28 47,29.3431458 47,31 L47,55 C47,56.6568542 45.6568542,58 44,58 L11,58 C9.34314575,58 8,56.6568542 8,55 L8,31 C8,29.3431458 9.34314575,28 11,28 Z"
                    id="Rectangle-15" fill="#FFFFFF"></path>
                  <path d="M10,29 C9.44771525,29 9,29.4477153 9,30 L9,56 C9,56.5522847 9.44771525,57 10,57 L45,57 C45.5522847,57 46,56.5522847 46,56 L46,30 C46,29.4477153 45.5522847,29 45,29 L10,29 Z M10,27 L45,27 C46.6568542,27 48,28.3431458 48,30 L48,56 C48,57.6568542 46.6568542,59 45,59 L10,59 C8.34314575,59 7,57.6568542 7,56 L7,30 C7,28.3431458 8.34314575,27 10,27 Z"
                    id="Rectangle-15" fill="#6BA4FF" fill-rule="nonzero"></path>
                  <path d="M9,35 L40,35 C40.5522847,35 41,35.4477153 41,36 C41,36.5522847 40.5522847,37 40,37 L9,37 C8.44771525,37 8,36.5522847 8,36 C8,35.4477153 8.44771525,35 9,35 Z"
                    id="Rectangle-3" fill="#6BA4FF"></path>
                  <rect id="Rectangle-4" fill="#BED7FF" x="11" y="31" width="2" height="2"></rect>
                  <path d="M14,41 L24,41 C24.5522847,41 25,41.4477153 25,42 L25,52 C25,52.5522847 24.5522847,53 24,53 L14,53 C13.4477153,53 13,52.5522847 13,52 L13,42 C13,41.4477153 13.4477153,41 14,41 Z"
                    id="Rectangle-4-Copy" fill="#BED7FF"></path>
                  <path d="M28,43 L34,43 C34.5522847,43 35,43.4477153 35,44 C35,44.5522847 34.5522847,45 34,45 L28,45 C27.4477153,45 27,44.5522847 27,44 C27,43.4477153 27.4477153,43 28,43 Z"
                    id="Rectangle-4-Copy" fill="#BED7FF"></path>
                  <path d="M28,47 L40,47 C40.5522847,47 41,47.4477153 41,48 C41,48.5522847 40.5522847,49 40,49 L28,49 C27.4477153,49 27,48.5522847 27,48 C27,47.4477153 27.4477153,47 28,47 Z"
                    id="Rectangle-4-Copy" fill="#BED7FF"></path>
                  <path d="M28,51 L40,51 C40.5522847,51 41,51.4477153 41,52 C41,52.5522847 40.5522847,53 40,53 L28,53 C27.4477153,53 27,52.5522847 27,52 C27,51.4477153 27.4477153,51 28,51 Z"
                    id="Rectangle-4-Copy" fill="#BED7FF"></path>
                  <rect id="Rectangle-4" fill="#BED7FF" x="15" y="31" width="2" height="2"></rect>
                  <rect id="Rectangle-4" fill="#BED7FF" x="19" y="31" width="2" height="2"></rect>
                  <path d="M32,1 L56,1 C57.6568542,1 59,2.34314575 59,4 L59,17 C59,18.6568542 57.6568542,20 56,20 L48.4232245,20 C47.5059297,20 46.6390441,20.4196648 46.0700696,21.1391771 L45.3537839,22.0449759 C44.6989347,22.8730836 43.4967606,23.0135373 42.668653,22.358688 C42.5373835,22.254883 42.4203137,22.1342894 42.3204462,22 L41.7327662,21.2097612 C41.1667164,20.448608 40.2740365,20 39.3254762,20 L32,20 C30.3431458,20 29,18.6568542 29,17 L29,4 C29,2.34314575 30.3431458,1 32,1 Z"
                    id="Rectangle-7-Copy" fill="#FFFFFF"></path>
                  <path d="M44.443739,21.0162686 C45.3920297,19.8170814 46.8943997,19 48.4232245,19 L57,19 C57.5522847,19 58,18.5522847 58,18 L58,3 C58,2.44771525 57.5522847,2 57,2 L31,2 C30.4477153,2 30,2.44771525 30,3 L30,18 C30,18.5522847 30.4477153,19 31,19 L39.3254762,19 C40.9064099,19 42.3942098,19.74768 43.3376262,21.0162686 C43.6291641,21.3997099 43.8499554,21.5914305 44,21.5914305 C44.0957583,21.5914305 44.2436713,21.3997099 44.443739,21.0162686 Z M31,-3.94430453e-31 L57,-4.4408921e-16 C58.6568542,-7.48448398e-16 60,1.34314575 60,3 L60,18 C60,19.6568542 58.6568542,21 57,21 L48.4232245,21 C47.5059297,21 46.6390441,21.4196648 46.0700696,22.1391771 L45.3537839,23.0449759 C44.6989347,23.8730836 43.4967606,24.0135373 42.668653,23.358688 C42.5373835,23.254883 42.4203137,23.1342894 42.3204462,23 L41.7327662,22.2097612 C41.1667164,21.448608 40.2740365,21 39.3254762,21 L31,21 C29.3431458,21 28,19.6568542 28,18 L28,3 C28,1.34314575 29.3431458,-1.02790844e-15 31,-3.94430453e-31 Z"
                    id="Rectangle-7-Copy" fill="#85B6FF" fill-rule="nonzero"></path>
                  <polygon id="Path-2" fill="#6BA4FF" fill-rule="nonzero" points="34.6486258 16.6524909 33.4683987 15.0378504 40.9020582 9.60419091 42.1992785 9.70440437 44.9863992 12.491525 52.2503267 5.22759747 53.6645403 6.64181103 45.693506 14.6128454 44.2792924 14.6128454 41.390755 11.7243079"></polygon>
                  <path d="M53,5 C53.5522847,5 54,5.44771525 54,6 L54,12 C54,12.5522847 53.5522847,13 53,13 C52.4477153,13 52,12.5522847 52,12 L52,6 C52,5.44771525 52.4477153,5 53,5 Z"
                    id="Rectangle-7" fill="#6BA4FF"></path>
                  <path d="M47,5 L53,5 C53.5522847,5 54,5.44771525 54,6 C54,6.55228475 53.5522847,7 53,7 L47,7 C46.4477153,7 46,6.55228475 46,6 C46,5.44771525 46.4477153,5 47,5 Z"
                    id="Rectangle-7" fill="#6BA4FF"></path>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
      <div class="content">
        <div class="title">
          My new project
        </div>
        <div class="page">
          Connect our tracking code to your website
        </div>
      </div>
    </div>
    <div class="install-code">
      <div class="title">
        Using
        <span class="element">Google Tag Manager</span>,
        <span class="element">Wordpress</span> or
        <span class="element">Shopify?</span>
      </div>
      <div (click)="openInstractions()" class="action">
        Install our plugin
      </div>
    </div>
    <div class="title">
      Ask a colleague to insert our code for you
    </div>
    <form [formGroup]="boardingForm">
      <div class="form-group">
        <cv-input formControlName="email" theme="boarding" [showErrors]="errorFields.includes('email')" placeholder="Enter email address">
        </cv-input>
      </div>
      <div class="form-group">
        <cv-button buttonType="boarding" (click)="submit()">
          Send instructions
        </cv-button>
      </div>
    </form>
    <div class="error-box" [ngStyle]="{ 'opacity' : error ? 1 : 0 }">
      <cv-svg type="ErrClose"></cv-svg>
      <span>{{error}}</span>
    </div>
    <div class="description">
      Or, copy our tracking code and place it between the
      <span class="head-span">
        &lt;head&gt;, &lt;head&gt;
      </span>
      tags of your website page
    </div>
    <div class="code-source">
      <cv-tracking-code [trackingToken]="'bc531986e1b81053f65575dcadad2c31'"></cv-tracking-code>
    </div>
  </div>
  <div *ngIf="verifyError" class="error-box">
    <div class="icon">
      <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs></defs>
        <g id="Onboarding" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Onboarding-7" transform="translate(-351.000000, -582.000000)" fill="#FFFFFF">
            <g id="Group-5" transform="translate(351.000000, 577.000000)">
              <path d="M8,11.5857864 L5.87867966,9.46446609 C5.48815536,9.0739418 4.85499039,9.0739418 4.46446609,9.46446609 C4.0739418,9.85499039 4.0739418,10.4881554 4.46446609,10.8786797 L6.58578644,13 L4.46446609,15.1213203 C4.0739418,15.5118446 4.0739418,16.1450096 4.46446609,16.5355339 C4.85499039,16.9260582 5.48815536,16.9260582 5.87867966,16.5355339 L8,14.4142136 L10.1213203,16.5355339 C10.5118446,16.9260582 11.1450096,16.9260582 11.5355339,16.5355339 C11.9260582,16.1450096 11.9260582,15.5118446 11.5355339,15.1213203 L9.41421356,13 L11.5355339,10.8786797 C11.9260582,10.4881554 11.9260582,9.85499039 11.5355339,9.46446609 C11.1450096,9.0739418 10.5118446,9.0739418 10.1213203,9.46446609 L8,11.5857864 Z M8,21 C3.581722,21 0,17.418278 0,13 C0,8.581722 3.581722,5 8,5 C12.418278,5 16,8.581722 16,13 C16,17.418278 12.418278,21 8,21 Z"
                id="Invalid-Copy"></path>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <div class="text">
      Convizit’s installation could not be verified. please confirm that the tracking code has been inserted
    </div>
  </div>
  <div class="check-isntall">
    <cv-button buttonType="strech" (click)="verifyProject()">
      I have installed the tracking code
    </cv-button>
  </div>

</div>