@import "../../scss/common";

:host {
    .form-group {
        label {
            width: 100px;
            margin-right: 28px;
            @include font2(get-color(color7));
            line-height: 36px;
        }

        .input-fields {
            width: calc(100% - 140px);
        }
    }

    .tz-list {
        max-height: 250px;
        overflow-x: auto;
    }
    
    .footer {
        display: flex;

        .buttons {
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: flex-end;

            cv-button:first-child {
                margin-right: 15px;
            }
        }
    }
}
