<div class="form-container">
  <form [formGroup]="projectSettingsForm">
    <div class="form-group row">
      <label for="">Project Name</label>
      <cv-input formControlName="name" theme="project-settings" class="input-fields">
      </cv-input>
    </div>
    <div class="form-group row">
      <label for="">Url</label>
      <cv-input formControlName="url" theme="project-settings" class="input-fields">
      </cv-input>
    </div>
    <div class="form-group row">
      <label for="">Time Zone</label>
      <cv-search-list formControlName="timezone"
        [list]="timezones"
        theme="project-settings"
        class="input-fields"></cv-search-list>
    </div>
    <div class="form-group row">
      <label for="">Default View</label>
      <cv-select class="input-fields"
        theme="project-settings"
        formControlName="viewRange"
        [list]="viewRanges"
        ></cv-select>
    </div>
    <div class="form-group row">
      <label for="">Token</label>
      <cv-input class="input-fields"
        theme="project-settings"
        formControlName="token"
        disabled="true"></cv-input>
    </div>
  </form>
  <div class="footer">
    <div class="links">
        <cv-action-label theme="common"
          type="CalendarNormal"
          title="Manage Calendars"
          [svgStyle]="{ 'width': '16px', 'height': '16px' }"></cv-action-label>
        <cv-action-label theme="common"
          type="Gear"
          title="Advanced Options"
          [svgStyle]="{ 'width': '16px', 'height': '16px' }"></cv-action-label>
    </div>
    <div class="buttons">
      <cv-button theme="cancel-inverted project-settings">Cancel</cv-button>
      <cv-button theme="common project-settings">Save</cv-button>
    </div>
  </div>
</div>