<div class="cv-conversion-tooltip-info">
  <ng-container *ngIf="!loading; else loadingTmp">
    <cv-mini-statistic
      type="tooltip-conversion"
      [subTitle]="subTitle">
      <cv-svg class="icon-content" type="Selection"
        [svgStyle]="{ 'width': '100%', 'height': '100%' }">
      </cv-svg>
      <span class="title-content">
        <cv-svg *ngIf="conversionEnabled" type="FlagPin" [svgStyle]="{ 'width': '14px', 'height': '14px'}"></cv-svg>
        {{title}}
      </span>
      <span class="action" [class.active]="conversionEnabled">
          <cv-svg type="FlagPin" [svgStyle]="{ 'width': '14px', 'height': '14px'}"></cv-svg>
          Conversion
          <cv-toggler [ngModel]="conversionEnabled" (ngModelChange)="toggleConversion($event)"></cv-toggler>
      </span>
    </cv-mini-statistic>
    <hr>
    <div class="footer">
      <div class="conversion-rate">
        <span class="title">Conversion rate</span>
        <span>{{ convRate | percent:'.0-2' }}</span>
      </div>
      <div class="total-click">
        <span class="title">Total click</span>
        <span>{{ totalClicks }}</span>
      </div>
      <div class="button-wrap">
          <cv-button theme="common-inverted conversion-tooltip">
            View Event Details
            <cv-svg type="ArrowRight" [svgStyle]="{ 'width': '9px', 'height': '9px'}"></cv-svg>
          </cv-button>
      </div>
    </div>
  </ng-container>
  <ng-template #loadingTmp>
      <cv-mini-statistic type="tooltip-conversion" [loading]="1" ></cv-mini-statistic>
  </ng-template>
</div>