@import '../../scss/common';

.cv-conversion-tooltip-info {
    height: 100%;
    width: 100%;
    position: relative;
    top: -7px;

    @include font6(get-color(color4));

    .title-content {
        line-height: 20px;
    }

    .action {
        &:not(.active) {
            color: get-color(color8);

            cv-svg {
                ::ng-deep svg {
                    path {
                        fill: get-color(color8);
                    }
                }
            }
        }        
    }

    .footer {
        display: flex;
        flex-direction: row;

        .title {
            @include font11(get-color(color7));

            &+span {
                @include font4(get-color(color4));
            }
        }

        .conversion-rate, .total-click {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .conversion-rate {
            border-right: 1px solid get-color(color8);
            padding-right: 29px;
        }

        .total-click {
            padding-left: 29px;
        }

        .button-wrap {
            margin-left: auto;

            cv-svg {
                ::ng-deep svg {
                    path {
                        fill: get-color(color1);
                    }
                }
            }
        }
    }
}