/* You can add global styles to this file, and also import other style files */

@import "app/scss/bootstrap-theming";
@import "~bootstrap/scss/bootstrap.scss"; // Additional info https://medium.com/@tiboprea/add-bootstrap-4-with-its-sass-files-in-an-angular-5-project-3c8f7fcc0ac0
@import "app/scss/common";
@import "app/scss/fonts";
@import "app/scss/modals";
@import "app/scss/main";
@import "app/scss/ng-select";
@import "app/scss/scrollbar";
html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #F5F5F5;
}