@import "../../scss/common";

.cv-action-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include font4(map-get($map: $colors, $key: color7));

    .icon {
        display: inline-block;
        width: 25px;
        height: 32px;
        padding-top: 3px;
        margin-right: 7px;
        position: relative;
        top: 2px;
    }

    &:hover {
        color: map-get($map: $colors, $key: color1);

        ::ng-deep svg {
            path {
                fill: map-get($map: $colors, $key: color1);
            }
        }
    }

    &.common {
        color: get-color(color4);

        ::ng-deep svg {
            path {
                fill: map-get($map: $colors, $key: color4);
            }
        }

        &:hover {
            color: map-get($map: $colors, $key: color1);
    
            ::ng-deep svg {
                path {
                    fill: map-get($map: $colors, $key: color1);
                }
            }
        }
    }
}