<div class="cv-conversion-mini-statistic" [class.highlighted]="highlighted">
  <cv-mini-statistic 
    [type]="type + ' ' + (highlighted ? 'hovered' : '')"
    [items]="subEvents">
    <!-- Icon -->
    <cv-tooltip-container class="icon-content"
      [popTemplate]="popTemplate"
      containerClass="conversion-info"
      (mouseenter)="setHighlight(true)"
      (mouseleave)="setHighlight(false)">
      <cv-svg type="Selection"
        [svgStyle]="{ 'width': '100%', 'height': '100%' }">
      </cv-svg>
    </cv-tooltip-container>
    <!-- Title content -->
    <cv-tooltip-container class="title-content"
      theme="as-inline"
      [popTemplate]="popTemplate"
      containerClass="conversion-info"
      (mouseenter)="setHighlight(true)"
      (mouseleave)="setHighlight(false)">
      <span class="title">
        {{title}}
      </span>
    </cv-tooltip-container>
    <!-- Subtitle content -->
    <cv-tooltip-container class="sub-title-content"
      theme="as-inline"
      [popTemplate]="popTemplate"
      containerClass="conversion-info"
      (mouseenter)="setHighlight(true)"
      (mouseleave)="setHighlight(false)">
      <span class="sub-title">
        {{ localSubTitle || subTitle }}
      </span>
    </cv-tooltip-container>
    <!-- Action -->
    <span class="action"
      *ngIf="+result; else new"
      [class.success]="result > 0"
      [class.error]="result < 0">{{ result | signpercent }}</span>
    <ng-template #new>
      <span class="action success">New</span>
    </ng-template>
  </cv-mini-statistic>
  <!-- attach tooltip -->
  <ng-template #popTemplate>
    <cv-conversion-tooltip-info [eventId]="eventId"></cv-conversion-tooltip-info>
  </ng-template>
</div>