@import "../../scss/common";

.cv-conversion-mini-statistic {
    .sub-title {
        color: get-color(color21);
    }
    .error {
        color: map-get($map: $colors, $key: color14);
    }

    .success {
        color: map-get($map: $colors, $key: color22);
    }

    &.highlighted {
        .title {
            color: get-color(color1);
        }

        .sub-title {
            color: get-color(color6);
        }
    }
}
