@import "../../scss/common";

.cv-percents {
    @include font2();

    &.error {
        color: map-get($map: $colors, $key: color14);
    }

    &.success {
        color: map-get($map: $colors, $key: color22);
    }
}